@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/open-sans/OpenSans-Bold.ttf');
	font-weight: 700;
	font-display: fallback;
}

@font-face {
	font-family: 'Open Sans';
	src: url('../fonts/open-sans/OpenSans-Regular.ttf');
	font-weight: 400;
	font-display: fallback;
}

@font-face {
	font-family: 'Merriweather';
	src: url('../fonts/merriweather/Merriweather-Regular.ttf');
	font-weight: 400;
	font-display: fallback;
}

:root {
	--font-stack-body: 'Merriweather', Georgia, serif;
	--font-stack-titles: 'Open Sans', Helvetica, Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack-body);
}

h1, h2, h3, h4 {
	font-family: var(--font-stack-titles);
	font-weight: 700;
}

.message-block {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  width: 55%;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  display: flex;
  flex-wrap: wrap;
}

.message-block.is-visible {
  opacity: 1;
}

.message-block--left {
  margin-right: auto;
}

.message-block--right {
  margin-left: auto;
}

.word-block {
	color: rgba(0, 0, 0, .5);
  transition: color 0.2s ease-in-out;
  margin-right: 3px;
}

.word-block.is-visible {
	color: rgba(0, 0, 0, 1);
}
